* {
    margin: 0;
    padding 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #87bcde;

}

h1 {
    color:#fff;
    padding: 18px 0;
    text-align: center;
    background: #2D4654;
}

.weatherSearch {
    width: 550px;
}

.weatherSearch input {
    width: 100%;
    height: 46px;
}